# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#11114112534534534
# Binaries for programs and plugins
*.exe089978
*.exe~987
*.dll11134576098
*.so
*.dylib
105345345
# Test binary, built with `go test -c`
*.test
200
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
6546546546
# Go workspace file
go.work
11111
